@{ Layout = "~/Views/Shared/_layouthome.cshtml";}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Bootstrap Theme The Band</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .container {
            padding: 80px 120px;
            background-color: rgb(0 0 0 / 8%);
            width: 1259px;
            padding: 80px 120px;
        }
    </style>
</head>
<body>

    <div class="container text-center">
        <h3>THE Globale Company</h3>
        <p><em>Welcome to the world of technology</em></p>
        <p>Our company is divided into several departments, most notably computer networks, information technology and the hardware department</p>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <p><strong>Information Technology</strong></p><br>
                <img src="~/Content/Images/IT.jpg" alt="Random Name" width="255" height="255">
            </div>
            <div class="col-sm-4 ">
                <p><strong>Computer Networks</strong></p><br>
                <img src="~/Content/Images/network.jpg" alt="Random Name" width="255" height="255">
            </div>
            <div class="col-sm-4">
                <p><strong>Hardwaree</strong></p><br>
                <img src="~/Content/Images/hardware.jpg" alt="Random Name" width="255" height="255">
            </div>
        </div>
    </div>

</body>
</html>

